.setting {
   &__table {
      padding-top: 30px;
      padding-bottom: 70px;
   }

   &__title {
      font-family: 'Futura PT';
      font-weight: 600;
      font-size: 32px;
      line-height: 100%;

      color: #000000;
   }

   &__table-container {
   }

   &__table-title-row {
      padding-top: 28px;
      width: 100%;
      display: flex;
      // justify-content: flex-end;
      padding-left: 438px;
      margin-bottom: 20px;
   }

   &__table-title-list {
      // width: 903px;
      display: flex;
      //   justify-content: space-between;
      padding-right: 80px;
      .item1 {
         margin-right: 55px;
      }
      .item2 {
         margin-right: 91px;
      }
      .item3 {
         margin-right: 137px;
      }
      .item4 {
         margin-right: 144px;
      }
      .item5 {
         margin-right: 68px;
      }
      .item6 {
         margin-right: 80px;
      }
      .item7 {
      }
   }

   &__table-title-item {
      /* Описание */

      font-family: 'Montserrat';
      font-weight: 400;
      font-size: 13px;
      line-height: 130%;

      color: #000000;
   }
}
//---------ряды таблицы
.setting {
   &__table-row {
      width: 1550px;
      height: 60px;
      display: flex;
      align-items: center;
      border-radius: 5px;
   }
   .bg-white {
      background-color: #fff;
   }
   &__table-row-type {
      margin-left: 30px;
      display: flex;
      gap: 10px;
      margin-right: 297px;
      width: 111px;
   }

   &__table-row-type-icon1 {
      img {
         width: 4px;
         height: 16px;
      }
   }

   &__table-row-type-name {
      font-family: 'Montserrat';
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;

      color: #000000;
   }

   &__table-row-type-icon2 {
      img {
         width: 12px;
         height: 12px;
      }
   }

   &__table-row-description {
      margin-right: 100px;
      width: 24px;
   }

   &__table-row-description-icon {
   }

   &__table-row-sorting {
      //  align-self: center;
      margin-right: 92px;
   }

   &__table-row-sorting-number {
      width: 81px;
      height: 31px;
      background: #ffffff;
      border: 1px solid #efefef;
      border-radius: 5px;

      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;

      color: #000000;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   &__table-row-id {
      margin-right: 122px;
   }

   &__table-row-id-number {
      width: 30px;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;

      color: #000000;
   }

   &__table-row-field-type {
      margin-right: 86px;
      width: 120px;
   }

   &__table-row-field-type-text {
      display: flex;
      gap: 6px;
   }
   &__table-row-field-type-text-text {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      align-self: center;
   }

   color: #000000;
   &__table-row-field-type-text-icon {
   }
   &__table-row-output {
      margin-right: 186px;
   }

   // &__table-row-output-check {
   // }

   &__table-row-checkbox {
   }

   &__table-row-mandatory {
      margin-right: 148px;
   }

   &__table-row-mandatory-check {
   }

   &__table-row-remove {
   }

   &__table-row-remove-check {
   }
}
//--------------кнопка добавить поле
.setting {
   &__table-edit-btn {
      margin-top: 18px;
      width: 255px;
      height: 50px;

      background: #172139;
      border-radius: 5px;

      display: flex;
      justify-content: center;
      align-items: center;
   }
   &__table-edit-btn-icon-box {
      display: flex;
      gap: 10px;
   }
   &__table-edit-btn-icon {
      img {
         width: 13px;
      }
   }

   &__table-edit-btn-text {
      font-family: 'Futura PT';
      font-size: 14px;
      line-height: 16px;

      letter-spacing: 0.1em;
      text-transform: uppercase;

      color: #ffffff;
   }
}
